# Dependencias
node_modules/
.pnp/
.pnp.js
vendor/

# Builds / salidas
dist/
build/
out/
*.tsbuildinfo

# Entornos y secretos
.env
.env.*
!.env.example
*.pem
*.key

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Editores / IDEs
.idea/
.vscode/
*.swp
*.swo

# Cobertura / caché de tests
coverage/
.cache/

# Flutter / móvil (si aplica)
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
